@inherits LayoutComponentBase

<RadzenDialog/>
<RadzenNotification/>
<RadzenContextMenu/>
<RadzenTooltip/>

<PageTitle>Diplom</PageTitle>

<header>
    <div class="top-row px-4 auth">
        <LoginDisplay />
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>
    <NavMenu />
</header>
<main>
    @Body
</main>
