@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authentication
@using System.Security.Claims


@inject NavigationManager Navigation


<nav class="uk-navbar-container uk-margin">
    <div class="uk-navbar-justify" uk-navbar>

        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" href="#">Лого</a>

            <ul class="uk-navbar-nav">
                <li class="uk-active">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        Главная
                    </NavLink>
                </li>
                <li>
                    <a href="#">Объявления <span uk-icon="icon:  triangle-down"></span></a>
                    <div uk-dropdown>
                        <ul class="uk-nav uk-dropdown-nav">
                            <li class="uk-nav-header">Объявления</li>
                            <li><NavLink class="nav-link" href="adsmap" Match="NavLinkMatch.All">Карта объявлений</NavLink></li>
                            <li><NavLink class="nav-link" href="adslist" Match="NavLinkMatch.All">Список объявлений</NavLink></li>
                            <li class="uk-nav-divider"></li>
                            <li><NavLink class="nav-link" href="@{IsAuthenticated()}" Match="NavLinkMatch.All">Создать объявление</NavLink></li>
                        </ul>
                    </div>
                </li>
                <li><NavLink class="nav-link" href="" Match="NavLinkMatch.All">О нас</NavLink></li>
                <li><NavLink class="nav-link" href="" Match="NavLinkMatch.All">Контакты</NavLink></li>
            </ul>
        </div><!-- // .uk-navbar-left -->

        <div class="uk-navbar-right">
            <div class="uk-navbar-item">
                <ul class="uk-grid-small" uk-grid>
                    <AuthorizeView>
                        <Authorized>
                            <li>
                                <NavLink class="uk-button uk-button-default" href="#">
                                    Мои объявления
                                </NavLink>
                            </li>
                        </Authorized>
                    </AuthorizeView>
                </ul>
            </div>
        </div><!-- // .uk-navbar-right -->
    </div><!-- // .uk-navbar-justify -->
</nav>

<div id="modal-login" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-dialog-login">
        <form asp-action="Login" asp-controller="User" asp-antiforgery="true">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input" type="text" name="Identity/Account/Login">
            </div>
            <br>
            <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                <input class="uk-input" type="password" name="password">
            </div>

            <div class="uk-margin uk-text-center">
                <button type="submit" class="uk-button uk-button-default">Вход</button>
            </div>
        </form>
    </div>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    private ClaimsPrincipal user;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;
        user = authState.User;
    }

    private string IsAuthenticated() => user.Identity.IsAuthenticated ? "createad" : "Identity/Account/Login";
}

